{
	margin: 0;
	padding: 0;
}
.parent{
	border: 4px solid green;
	width:60%;
	height: 90vh;
	padding: 10px 20px;

}
.body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.parent{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.red{
	border: 4px solid red;
	padding: 10px 20px;
	width: 90%;
	display: flex;
}
.red:nth-child(1){
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: space-around;

}
.red:nth-child(2) {
	height: 15%;
	align-items: center;
	justify-content: space-around; }

.red:nth-child(3){
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: space-around;

}
.red:nth-child(4){
	height: 20%;

}
.blue{
	border: 4px solid blue;
	height: 90%;
	
}



.red:nth-child(1) .blue:nth-child(1), .red:nth-child(1) .blue:nth-child(3) {
	width: 25%;
}
.red:nth-child(1) .blue:nth-child(2){
	width: 40%;
}



.yellow{
	border: 4px solid yellow;
	width: 90%;
	height: 45%;
	padding: 0.1px;
	
}
.red:nth-child(1) .blue:nth-child(3){
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}


.red:nth-child(2) .blue:nth-child(1)  { 
	width: 23%;
    height: 90%;}
.red:nth-child(2) .blue:nth-child(2)  { 
	width: 20%;
    height: 90%;}
.red:nth-child(2) .blue:nth-child(3)  { 
	width: 20%;
    height: 90%;}
.red:nth-child(2) .blue:nth-child(4)  { 
	width: 23%;
    height: 90%;}

.red:nth-child(3){
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: space-around;}

.red:nth-child(3) .blue:nth-child(1) .blue:nth-child(2) { 
	height: 90%;}
	.red:nth-child(3) .blue:nth-child(1)  { 
	width: 25%;}
	.red:nth-child(3) .blue:nth-child(2)  { 
	width: 70%;}

	.red:nth-child(3) .blue:nth-child(2){
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.blue:nth-child(2) .yellow:nth-child(1) {
	height: 80%;
}
.blue:nth-child(2) .yellow:nth-child(2) {
	height: 10%; }
.red:nth-child(4) {
	justify-content: space-around;
	align-items: center;
}
.red:nth-child(4) .blue:nth-child(1), .red:nth-child(4) .blue:nth-child(3) {
	width: 25%;
}
.red:nth-child(4) .blue:nth-child(2){
	width: 40%;
}
.red:nth-child(4) .blue:nth-child(1){
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
